.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../imgs/loader.gif')
    50% 50%
    no-repeat;
}

.backheader {
    background-color: #72BDFF;
}

.attetion {
    color: orangered;
}

.formbase {
    background-color: #72BDFF;
    border-radius: 10px;
}

.error {
    color: red;
    padding-left: 5px;
}

input.error{
    background-color: rgb(249, 143, 143);
}